  <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav" style="background-color: #ffde59">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="/">
                <img src="assets/img/logo.png" alt=""  style="width: 3em; height: 3em"  /></a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars ml-1"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ml-auto">
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" (click)="logout()" [routerLink] ="['']" >تسجيل الخروج</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" [routerLink]="['about']" >حول</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" [routerLink]="['historique']">السجل</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" [routerLink]="['anglais']" >الإنجليزية</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" [routerLink]="['emotion']" >تحقق</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" [routerLink]="['']">أخبار</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" [routerLink]="['principal']"  >الخدمات</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" [routerLink]="['login']">تسجيل الدخول</a></li>
                    </ul>
                </div>
            </div>
        </nav>

<section>
  <router-outlet></router-outlet>
</section>

 <footer class="footer py-4">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 text-lg-left">Copyright © Department Génie Informatique</div>
                    <div class="col-lg-4 my-3 my-lg-0">
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </footer>
