<div class="container" id="team">

<div class="container">
                <div class="text-center" >
                    <h2 class="section-heading text-uppercase" style=" margin-top: 1%; font-family: 'Thabit' ">{{title}}</h2>
                    <h6 style="margin-top: 5%; font-size: normal; font-family: 'Thabit'">{{content}}</h6>
                    <h6 class="section-subheading text-muted" style="color: #003e61; margin-top: 2%; text align: left">{{source}}</h6>
                </div>
</div></div>

