<div id="lab">
  <label></label>
</div>

<div>
  <button type="submit" expand="float" style="margin-right:1%;" [routerLink]="['/login']" routerLinkActive="router-link-active">تسجيل الدخول</button>
  <button type="submit" expand="float" style="margin-right:1%;" [routerLink]="['/']" routerLinkActive="router-link-active">الإنجليزية</button>
  <button type="submit" expand="float" style="margin-right:1%;" [routerLink]="['/principal']" routerLinkActive="router-link-active">الخدمات</button>
  <button type="submit" expand="float" style="margin-ritght:1%;">الموضوع</button>
  <br>
</div>

