<div class="container" id="about">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">حول</h2>
                </div>
                <ul class="timeline">
                    <li>
                        <div class="timeline-image" style="background-color: #ffde59"><img class="rounded-circle img-fluid" style="width: 100%; height: 100%"  src="assets/img/uae.png" alt="" /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>UAE</h4>
                                <h4 class="subheading">جامعة عبد المالك السعدي</h4>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image" style="background-color: white"><img class="rounded-circle img-fluid" src="assets/img/fstt.png" alt="" /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>FSTT</h4>
                                <h4 class="subheading">كلية العلوم و التقنيات</h4>
                            </div>
                           </div>
                    </li>
                    <li>
                        <div class="timeline-image" style="background-color: #ffde59"><img class="rounded-circle img-fluid" src="assets/img/logo.png" style="width: 80%; height: 80%"  alt="" /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>NLP بالعربي</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted"> هذه المنصة توفر لكم مجموعة من الخدمات الخاصة بالمعالجة الآلية للغة العربية و اللغة الإنجليزية. يمكنكم أيضا التحقق من الأخبار الصحيحة و الأخبار الكاذبة المنتشرة حول موضوع فيروس كورونا المستجد </p></div>
                        </div>
                    </li>
                    <li class="timeline-inverted" >
                        <div class="timeline-image" style="background-color: #ffde59; "><br><h4>Tokenization</h4></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4> تقطيع الجملة</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">تقوم بتقسيم جمل  النص الى كلمات منفصلة على حدة</p></div>
                        </div>
                    </li>

                      <li class="timeline-inverted" >
                        <div class="timeline-image" style="background-color: #ffde59;"><h4>Stop <br>Words</h4></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>المستبعدات</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">الكلمات المستبعدة هي الكلمات التي تستبعد قبل المعالجة اللغوية الآلية للبيانات (نصوص). وهي الكلمات التي تتكرر في النصوص مثل (في، من، إلى،...). </p></div>
                        </div>
                    </li>

                      <li class="timeline-inverted" >
                        <div class="timeline-image" style="background-color: #ffde59;"><br><h4>Lemmatization</h4></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4> المدخل المعجمي</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">هي عملية إيجاد النموذج الأساسي للكلمة من خلال النظر الى الكلمة الفرعية، أي أنه يعيد الكلمة الى أصلها.</p></div>
                        </div>
                    </li>

                    <li class="timeline-inverted" >
                        <div class="timeline-image" style="background-color: #ffde59;"><br><h4>Stemming</h4></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>أصل الكلمة</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">عملية الاشتقاق تقوم بتجميع الكلمات بناءً على تشابهها اللغوي الدلالي.</p></div>
                        </div>
                    </li>
                    <li class="timeline-inverted" >
                        <div class="timeline-image" style="background-color: #ffde59;"><h4>POS <br>Tagging</h4></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>الإعراب</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">العلامات النحوية هي عملية ترميز كلمة في النص استنادا على توافقها مع تعريف وسياق الكلام: اسم ، فعل ، صفة ، ظرف ، إلخ. </p></div>
                        </div>
                    </li>

                    <li class="timeline-inverted" >
                        <div class="timeline-image" style="background-color: #ffde59;"><h4>Bag <br>Of <br> Words</h4></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>حقيبة الكلمات</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">تمثيل مبسط يستخدم في معالجة اللغة الطبيعية واسترجاع المعلومات يتم فيه تمثيل النصوص كالجمل أو المستندات كحقيبة (مجموعة متعددة) من الكلمات الواردة فيها، متجاهلاً القواعد اللغوية وترتيب الكلمات مع الحفاظ على التعددية.</p></div>
                        </div>
                    </li>

                     <li class="timeline-inverted" >
                        <div class="timeline-image" style="background-color: #ffde59;"><h4>TF <br>IDF </h4></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4> الترجيح</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">تقنية الترجيح في استرجاع المعلومات واستخراج النصوص ونمذجة المستخدم تزداد هذه القيمة بشكل متناسب مع عدد المرات التي تظهر فيها الكلمة في المستند ، ولكن يتم تعويضها عن طريق تكرار الكلمة في المجموعة ، مما يساعد على ضبط حقيقة أن بعض الكلمات تظهر بشكل متكرر بشكل عام.</p></div>
                        </div>
                    </li>
                    <li class="timeline-inverted" >
                        <div class="timeline-image" style="background-color: #ffde59;"><h4><br>Word2Vec</h4></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4> تضمين الكلمات</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">
تعامل خوارزميات كل كلمة على قدم المساواة ، لأن هدفها هو حساب تضمين الكلمة. يصبح التمييز مهمًا عندما يحتاج المرء إلى العمل مع الجمل أو توثيق الزخارف: لا تمثل كل الكلمات بشكل متساوٍ معنى جملة معينة. وهنا يتم تطبيق استراتيجيات ترجيح مختلفة. </p></div>
                        </div>
                    </li>
                </ul>
            </div>
