<div id="lab">
  <label></label>
</div>

<div>
  <button type="submit" expand="float" style="margin-left:80%;" [routerLink]="['/principal']" routerLinkActive="router-link-active">Services</button>
  <button type="submit" expand="float" style="margin-left:1%;" [routerLink]="['/main-ar']" routerLinkActive="router-link-active">Arabe</button>
  <button type="submit" expand="float" style="margin-left:1%;" [routerLink]="['/login']" routerLinkActive="router-link-active">Login</button>
  <br>
</div>
<br><br>
<div class ="card" *ngFor = "let dt of data$ | async">
  <mat-card>
  <mat-card-title style="text-align: center;">{{dt.title}}</mat-card-title>
    <br>
     <div style="text-align: left;"> <button type="submit" expand="float" (click)="more($event, dt.id)" >More details</button></div>
  </mat-card>

</div>



