<form [formGroup]="form" (ngSubmit)="submitForm()" novalidate>

<div id="pos">
  <div *ngFor="let data of Data; let i=index" style = "text-align: center; margin-right: 3%">
    <label>
      <input type="checkbox" [value]="data.value" (change)="onCheckboxChange($event)" />
      <br>
      {{data.name}}
    </label>
  </div>
  </div>

  <p class="error" *ngIf="this.form.controls['checkArray'].errors?.required">
    Checkbox is required, select atleast one value.
  </p>
  <br>

  <div id="posArea">
    <textarea placeholder="Enter your text here..." style="width:100%;"  formControlName="myText"></textarea>
  </div>

  <div style="text-align: center; margin-top:1%">
    <button type="submit" style="margin-left:1%; margin-right:1%"> valider </button>
  </div>
  <div id="res" >
    <label style="width:100%;"></label>
  </div>
</form>





